* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scheduler{
    width: 98%;
    margin: 0 auto
}

.container-fluid {
    /* background-color: red; */
}

.col-1, .col-2{
    border-left: 3px solid black
}

.complete{
    background-color: black;
}

.col, .col-1, .col-2{
    height: 35px
}

h1,h4{
    font-family: 'Courier New', Courier, monospace;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.row{
    font-size: 22px;;
}

.divider{
    border: 2px solid black;
}

input{
    width: 100%;
    border: none;
    height: 35px;
    /* background-color: red; */
}

.sub-title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sub-title > div {
    width: 30%
}

.heading{
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 70%
}

.directions{
    width: 30%;
}
@media screen and (min-width: 1300px ) {
    .scheduler{
        width: 1200px;
    }
}