.scheduler{
    width: 98%;
    margin: 0 auto
}

.container-fluid {
    background-color: red;
}

.col-1, .col-2{
    border-left: 3px solid black
}



h1,h4{
    font-family: 'Courier New', Courier, monospace;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.divider{
    border: 2px solid black;
}

@media screen and (min-width: 1300px ) {
    .scheduler{
        width: 1200px;
    }
}